.LiveTime,
.LiveDate {
  font-size: 16pt;
  font-weight: 100;
}
.per{
  background-color: black;
  width:90px;
  max-height: 40px;
  font-size: 30px;
  top: 220px;
  right:290px;
  position: absolute;
  z-index:99;
  color: white;

}


.per-main{
  position: relative;
}