.HelloRawan{
          background-color: #F5F5F7;
          // width: 500px;
          height: 10rem;
          border-radius: 14px;
          margin-top: 40px;
}
.HiRawan{
          font-weight: bold;
}
.SeeYou{
          font-size: 16pt;
          border-radius: 14px;
}
.HiAndSee{
          text-align: left;
          margin-left: 20px;
}
.Logo{
          float: right;
          margin-top: -150px;
}
.TimeComponent{
          background-color: #F5F5F7;
          border-radius: 14px;
          margin-top: 40px;
          height: 8rem;
}
.TimeNow{
          font-size: 16pt;
          font-weight: bold;
          
}
.LiveTime{
          font-size: 18pt;
}
.DateNow {
          font-size: 16pt;
          font-weight: bold;
}
.LiveDate {
          font-size: 18pt;
}
.Time{
          float: left;
          padding-top: 20px;
          padding-left: 60px;
}
.date{
          padding-top: 20px;
}
.AiComponent{
          background-color: #F5F5F7;
          border-radius: 14px;
}
.InputComponent{
          background-color: #F5F5F7;
          border-radius: 14px;
}
.ApexChart{
          background-color: #F5F5F7;
}
.Recommended{
          text-align: center;
          float: left;
}
.RecommendedPalm{
          font-size: 14pt;
          font-weight: bold;
}
.Concentration{
          font-size: 14pt;
          font-weight: bold;
}
.EnterNumber{
          font-size: 14pt;
          font-weight: bold;
          text-align: left;
          float: left;
}
.Input{
          width: 10rem;
          font-size: 14pt;
          font-weight: bold;
          text-align: center;
}
.EnterNumberP{
          margin-left: 20px;
}
.Concentration{
          font-size: 14pt;
          font-weight: bold;
}