$bgColor: #ffffff;
$cardColor: #f5f5f7;
$textColor: #0c0b0b;

body {
  background: $bgColor;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $textColor;
  padding-top: 1rem;
}
.card {
  background: $cardColor;
  border-radius: 1rem;
  padding: 1rem 0rem;
  text-align: center;
}

.sidebar {
  border-radius: 1.3rem;
  background: $cardColor;
  min-height: 100%;
  min-width: 100%;
}
