$bgColor:#ffffff ;
$cardColor:#F5F5F7 ;
$textColor:#0C0B0B ;

body{
  background:$bgColor ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:$textColor ;

}
.card{
  background:$cardColor ;
  border-radius:1rem ;
  padding: 1rem 0rem;
  text-align: center ;
}

.line-bar{
  width:100%;
  height:100%;
  background:red;
}